<?xml version="1.0" encoding="utf-8"?>
<manifest package="test.impiger.com.gcmsample"
          xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Provide access to internet Services. -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- Messages will be received even if the application is in sleep mode. -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <permission android:name="test.impiger.com.gcmsample.permission.C2D_MESSAGE"
                android:protectionLevel="signature" />
    <uses-permission android:name="test.impiger.com.gcmsample.permission.C2D_MESSAGE" />

    <!-- For GcmReceiver service handles message sent from GCM server, this permission is
    required to receive message-->
    <uses-permission android:name="com.google.android.c2dm.permission.SEND"/>
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- For GCM registration and message listening -->
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>

                <category android:name="com.test.test"/>
            </intent-filter>
        </receiver>

        <service
            android:name=".GCMPushReceiverService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
            </intent-filter>
        </service>
        <service
            android:name=".GCMTokenRefreshListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID"/>
            </intent-filter>
        </service>
        <service
            android:name=".GCMRegistrationIntentService"
            android:exported="false"/>

    </application>

</manifest>